<?xml version="1.0"?>
<config>
    <modules>
        <Techinflo_MystoreOption>
            <version>1.0.0</version>
        </Techinflo_MystoreOption>
    </modules>
    <global>
        <models>
            <techinflo_mystoreoption>
                <class>Techinflo_MystoreOption_Model</class>
            </techinflo_mystoreoption>
        </models>
		<blocks>
            <techinflo_mystoreoption>
                <class>Techinflo_MystoreOption_Block</class>
            </techinflo_mystoreoption>
        </blocks>
    </global>
	<frontend>
       <routers>
          <mystoreoption>
              <use>standard</use>
              <args>
                 <module>Techinflo_MystoreOption</module>
                 <frontName>MystoreOption</frontName>
              </args>
           </mystoreoption>
            <customer>
                <args>
                    <modules>
                        <techinflo_mystoreoption before="Mage_Customer">Techinflo_MystoreOption</techinflo_mystoreoption>
                    </modules>
                </args>
            </customer>
       </routers>
	   <translate>
            <modules>
                <Techinflo_MystoreOption>
                    <files>
                        <default>Techinflo_MystoreOption.csv</default>
                    </files>
                </Techinflo_MystoreOption>
            </modules>
        </translate>
	   <layout>
            <updates>
                <mystoreoption>
                    <file>mystoreoption.xml</file>
                </mystoreoption>
            </updates>
        </layout>
    </frontend>
    <default>
        <tab1>
            <general>
				<active>0</active>
                <dropdown>pixel</dropdown>
                <multiple_dropdown>home</multiple_dropdown>
                <boolean>1</boolean>
                <dependant_text_field>Default value</dependant_text_field>
            </general>
        </tab1>
    </default>
</config>