<?xml version="1.0"?>
<config>
  <modules>
    <Techinflo_MyStoreWidget>
      <version>1.0.0</version>
    </Techinflo_MyStoreWidget>
  </modules>
  <frontend>
    <routers>
      <mystorewidget>
        <use>standard</use>
          <args>
            <module>Techinflo_MyStoreWidget</module>
            <frontName>mystorewidget</frontName>
          </args>
      </mystorewidget>
    </routers>
		<layout>
		  <updates>
			<mystorewidget>
			  <file>techinflo/catalog/mystorewidget.xml</file>
			</mystorewidget>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <mystorewidget>
        <class>Techinflo_MyStoreWidget_Helper</class>
      </mystorewidget>
    </helpers>
	<blocks>
	  <mystorewidget>
		<class>Techinflo_MyStoreWidget_Block</class>
	  </mystorewidget>
	</blocks>
  </global>
</config> 